@import "imports";

.search_field_container {
    $images_root: '/images/';    
    border: 1px solid #cacaca;
    margin: 0;
    padding: 10px 25px;
    width: 250px;
    height: 50px;
    position: relative;
    @include linear-gradient(color-stops(#ffffff, #cacaca), top);

    .search_field {
        background-color: #fff;
        @include border-radius(1em);
        border-top: 1px solid #999999;
        border-bottom: 1px solid #F1F1F1;
        border-left: 1px solid #D4D4D4;
        border-right: 1px solid #D4D4D4;
        @include box-shadow(rgba(0, 0, 0, 0.2) 0, 1px, 2px, 0, inset);
        width: 200px;
        height: 24px;
        max-width: 100%;
        margin-top: 10px;
        padding: { left: 25px; right: 25px;}
    }

    .clear_search {
        left: 100%;
        margin-left: -45px;
        position: absolute;
        top: 27px;
        cursor: pointer;
    }

    .submit_search {
        right: 100%;
        margin-right: -47.5px;
        position: absolute;
        top: 26px;
        cursor: pointer;       
    }
    
    .input_spinner {       
        left: 100%;
        margin-left: -45px;
        position: absolute;
        top: 26px;
		visibility: hidden;
    }	
}
