@import "imports";
$images_root: "/images/";

@mixin gradient($top-color, $bottom-color) {
    background-color: $top-color;  /* fallback background color */
    $path_to_gradient: $images_root + 'table-header-gradient.png';
    background-image: url($path_to_gradient); /* fallback background image */
    background-repeat: repeat-x;

    background-image: -moz-linear-gradient(top, $top-color, $bottom-color);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $top-color),color-stop(1, $bottom-color));
    background-image: -webkit-linear-gradient($top-color, $bottom-color);
    background-image: -o-linear-gradient($top-color, $bottom-color);
    background-image: linear-gradient(top, $top-color, $bottom-color);
}

@mixin rounded-corners($radius: 5px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

/* Remove the default cancel  (x) button - webkit search input */
input[type="search"]::-webkit-search-cancel-button {   
    -webkit-appearance: none;
}

.search_field_container {
    $images_root: '/images/';    
    border: 1px solid #cacaca;
    margin: auto;
    padding: 10px 25px;
    width: 250px;
    height: 50px;
    position: relative;    
	@include gradient(#ffffff, #cacaca);

    .search_field {
		@include rounded-corners(1em);
		@include box-shadow(rgba(0, 0, 0, 0.2) 0, 1px, 2px, 0, inset);		
		background-color: #fff;	        
		border: 1px solid #ccc;
		//inner shadow
		-moz-box-shadow:    inset 0 0 2px #ccc;
		-webkit-box-shadow: inset 0 0 2px #ccc;
		box-shadow:         inset 0 0 2px #ccc;
		
		width: 200px;		
        height: 24px;
        max-width: 100%;
        margin-top: 10px;
        padding: { left: 25px; right: 25px;}
    }

    .clear_search {
        left: 100%;
        margin-left: -48px;
        position: absolute;
        top: 23px;
        cursor: pointer;
    }

    .submit_search {
        right: 100%;
        margin-right: -46.5px;
        position: absolute;
        top: 27px;
        cursor: pointer;       
    }
    
    .input_spinner {       
        left: 100%;
        margin-left: -45px;
        position: absolute;
        top: 26px;
		visibility: hidden;
    }	
}
