/* Compass imports */
/* Remove the default cancel  (x) button - webkit search input */
/* line 25, ../scss/_search.scss */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 29, ../scss/_search.scss */
.search_field_container {
  border: 1px solid #cacaca;
  margin: 0;
  padding: 10px 25px;
  width: 250px;
  height: 50px;
  position: relative;
  background-color: white;
  /* fallback background color */
  background-image: url("/images/table-header-gradient.png");
  /* fallback background image */
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, white, #cacaca);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #cacaca));
  background-image: -webkit-linear-gradient(white, #cacaca);
  background-image: -o-linear-gradient(white, #cacaca);
  background-image: linear-gradient(top, white, #cacaca);
}
/* line 39, ../scss/_search.scss */
.search_field_container .search_field {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  background-color: #fff;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #F1F1F1;
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
  width: 200px;
  height: 24px;
  max-width: 100%;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 56, ../scss/_search.scss */
.search_field_container .clear_search {
  left: 100%;
  margin-left: -48px;
  position: absolute;
  top: 24px;
  cursor: pointer;
}
/* line 64, ../scss/_search.scss */
.search_field_container .submit_search {
  right: 100%;
  margin-right: -47.5px;
  position: absolute;
  top: 26px;
  cursor: pointer;
}
/* line 72, ../scss/_search.scss */
.search_field_container .input_spinner {
  left: 100%;
  margin-left: -45px;
  position: absolute;
  top: 26px;
  visibility: hidden;
}

@imports "imports";
/* line 17, ../scss/style-ie.scss */
.search_field_container {
  background-image: url("/images/grey-gradient.png");
  /* fallback background image */
  background-repeat: repeat-x;
  background-color: #fdfdfd;
  /* fallback background color */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd, endColorstr=#dfdfdf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd, endColorstr=#dfdfdf)";
  /*
  .search_field {		
  	behavior: url(border-radius.htc);
  	border-radius: 20px;
  }
  */
}
