/* Compass imports */
/* line 3, ../scss/_search.scss */
.search_field_container {
  border: 1px solid #cacaca;
  margin: 0;
  padding: 10px 25px;
  width: 250px;
  height: 50px;
  position: relative;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cacaca));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cacaca 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cacaca 100%);
}
/* line 13, ../scss/_search.scss */
.search_field_container .search_field {
  background-color: #fff;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #F1F1F1;
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  width: 200px;
  height: 24px;
  max-width: 100%;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 28, ../scss/_search.scss */
.search_field_container .clear_search {
  left: 100%;
  margin-left: -45px;
  position: absolute;
  top: 27px;
  cursor: pointer;
}
/* line 36, ../scss/_search.scss */
.search_field_container .submit_search {
  right: 100%;
  margin-right: -47.5px;
  position: absolute;
  top: 26px;
  cursor: pointer;
}
/* line 44, ../scss/_search.scss */
.search_field_container .input_spinner {
  left: 100%;
  margin-left: -45px;
  position: absolute;
  top: 26px;
  visibility: hidden;
}

@imports "imports";
